<ion-tabs class="tabs-royal tabs-icon-only">

  <ion-tab icon-on="ion-social-twitch" icon-off="ion-social-twitch-outline" href="#/tabs/twitch" ng-click="onTabSelected('twitch')" ng-controller="TabsController">
    <ion-nav-view name="twitch-tab" class="slide-left-right">dasdsd</ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="hitbox" icon-off="hitbox-outline" href="#/tabs/hitbox" ng-click="onTabSelected('hitbox')" ng-controller="TabsController">
    <ion-nav-view name="hitbox-tab" class="slide-left-right"></ion-nav-view>
  </ion-tab>

</ion-tabs>
